<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OSS-TOGO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @*Ajoutés manuellement*@
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    @*Ajoutés manuellement*@

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OSS-TOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Priest" asp-action="Index">Prêtres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Diocese" asp-action="Index">Diocèses</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="dr1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cotisations
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dr1">
                                <a class="dropdown-item" asp-action="Add" asp-controller="Contribution">Nouvelle cotisation</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Contribution">Liste des cotisations</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="dr2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Allocations
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dr2">
                                <a class="dropdown-item" asp-action="New" asp-controller="Pension">Attribuer une allocation</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Pension">Liste des allocations</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="dr2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Etats
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dr2">
                                <a class="dropdown-item" asp-action="PriestReportFilter" asp-controller="Report">Etat des prêtres</a>
                                <a class="dropdown-item" asp-action="PriestReportByDioceseFilter" asp-controller="Report">Etat des prêtres par diocèse</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="DioceseReport" asp-controller="Report">Etat des diocèses</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="ContributionReportFilter" asp-controller="Report">Etat des cotisations</a>
                                <a class="dropdown-item" asp-action="ContributionReportByPriestFilter" asp-controller="Report">Etat des cotisations par prêtre</a>
                                <a class="dropdown-item" asp-action="ContributionReportByDioceseFilter" asp-controller="Report">Etat des cotisations par diocèse</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="PensionReportFilter" asp-controller="Report">Etat des allocations</a>
                                <a class="dropdown-item" asp-action="PensionReportByPriestFilter" asp-controller="Report">Etat des allocations par prêtre</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="dr2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Paramètres
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dr2">
                                <a class="dropdown-item" asp-action="Index" asp-controller="Users">Utilisateurs</a>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Roles">Groupe d'utilisateurs</a>
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3 mt-4">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2023 - OSS-TOGO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @*Ajoutés manuellement*@
    <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-fr_FR.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    @*Ajoutés manuellement*@

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
