<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OSS-TOGO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @*Ajoutés manuellement*@
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    @*Ajoutés manuellement*@

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OSS-TOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>*@
                        @if ((AuthorizationService.AuthorizeAsync(User, Dioceses.Access)).Result.Succeeded)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Dioceses" asp-action="Index">Diocèses</a>
                            </li>
                        }
                        @if ((AuthorizationService.AuthorizeAsync(User, Priests.Access)).Result.Succeeded)
                        { 
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="dr5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Prêtres
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dr5">
                                    @if ((AuthorizationService.AuthorizeAsync(User, Priests.Create)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="Create" asp-controller="Priests">Ajouter un prêtre</a>
                                    }
                                    @if ((AuthorizationService.AuthorizeAsync(User, Priests.ViewAll)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Priests">Liste de tous les prêtres</a>
                                    }
                                    @if ((AuthorizationService.AuthorizeAsync(User, Priests.Suspend)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="Suspend" asp-controller="Priests">Fin des actions d'un prêtre</a>
                                    }
                                </div>
                            </li>
                        }
                        @if ((AuthorizationService.AuthorizeAsync(User, Contributions.Access)).Result.Succeeded)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="dr1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cotisations
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dr1">
                                    @if ((AuthorizationService.AuthorizeAsync(User, Contributions.Add)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="Add" asp-controller="Contributions">Nouvelle cotisation</a>
                                    }
                                    @if ((AuthorizationService.AuthorizeAsync(User, Contributions.ImportData)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="ImportData" asp-controller="Contributions">Importer une liste de cotisations</a>
                                    }
                                    @if ((AuthorizationService.AuthorizeAsync(User, Contributions.ViewAll)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Contributions">Historique des cotisations</a>
                                    }
                                </div>
                            </li>
                        }
                        @if ((AuthorizationService.AuthorizeAsync(User, Pensions.Access)).Result.Succeeded)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="dr2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Allocations
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dr2">
                                    @if ((AuthorizationService.AuthorizeAsync(User, Pensions.Add)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="EligiblePriests" asp-controller="Pensions">Attribuer une allocation</a>
                                    }
                                    @*@if ((AuthorizationService.AuthorizeAsync(User, Pensions.ImportData)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="ImportData" asp-controller="Pensions">Importer un liste d'allocations</a>
                                    }*@
                                    @if ((AuthorizationService.AuthorizeAsync(User, Pensions.ViewAll)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Pensions">Historique des allocations</a>
                                    }
                                </div>
                            </li>
                        }
                        @if ((AuthorizationService.AuthorizeAsync(User, Reports.Access)).Result.Succeeded)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="dr3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Etats
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dr3">
                                    @if ((AuthorizationService.AuthorizeAsync(User, Reports.ViewPriests)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="PriestReportFilter" asp-controller="Report">Etat des prêtres</a>
                                    }
                                    @if ((AuthorizationService.AuthorizeAsync(User, Reports.ViewPriestsByDiocese)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="PriestReportByDioceseFilter" asp-controller="Report">Etat des prêtres par diocèse</a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    @if ((AuthorizationService.AuthorizeAsync(User, Reports.ViewDioceses)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="DioceseReport" asp-controller="Report" target="_blank">Etat des diocèses</a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    @if ((AuthorizationService.AuthorizeAsync(User, Reports.ViewContributions)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="ContributionReportFilter" asp-controller="Report">Etat des cotisations</a>
                                    }
                                    @if ((AuthorizationService.AuthorizeAsync(User, Reports.ViewContributionsByPriest)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="ContributionReportByPriestFilter" asp-controller="Report">Etat des cotisations par prêtre</a>
                                    }
                                    @if ((AuthorizationService.AuthorizeAsync(User, Reports.ViewContributionsByDiocese)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="ContributionReportByDioceseFilter" asp-controller="Report">Etat des cotisations par diocèse</a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    @if ((AuthorizationService.AuthorizeAsync(User, Reports.ViewPensions)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="PensionReportFilter" asp-controller="Report">Etat des allocations</a>
                                    }
                                    @if ((AuthorizationService.AuthorizeAsync(User, Reports.ViewPensionsByPriest)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="PensionReportByPriestFilter" asp-controller="Report">Etat des allocations par prêtre</a>
                                    }
                                </div>
                            </li>
                        }
                        @if ((AuthorizationService.AuthorizeAsync(User, Settings.Access)).Result.Succeeded)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="dr4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Paramètres
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dr4">
                                    @if ((AuthorizationService.AuthorizeAsync(User, Users.Access)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Users">Utilisateurs</a>
                                    }
                                    @if ((AuthorizationService.AuthorizeAsync(User, SolidarityFund.Helpers.Constants.Permissions.Roles.Access)).Result.Succeeded)
                                    {
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Roles">Rôles</a>
                                    }
                                    @if ((AuthorizationService.AuthorizeAsync(User, Settings.ManageCosts)).Result.Succeeded)
                                    { 
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Cost">Gestion des frais</a>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3 mt-4">
            <div class="text-center">
                <h2><strong>@ViewData["PageTitle"]</strong></h2>
                <p>@ViewData["PageSubtitle"]</p>
            </div>

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2023 - OSS-TOGO
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @*Ajoutés manuellement*@
    <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-fr_FR.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    @*Ajoutés manuellement*@

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
