<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OSS-TOGO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @*Ajoutés manuellement*@
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <style>
        thead, tfoot {
            display: table-row-group;
        }

        tr {
            page-break-inside: avoid;
        }

        .table td, .table th {
            vertical-align: middle;
        }
    </style>
    @*Ajoutés manuellement*@

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
