@model bool

@if (Model)
{
    <span class="badge badge-success"><span class="fa fa-check-circle-o"></span> Oui</span>
}
else
{
    <span class="badge badge-danger"><span class="fa fa-times-circle-o"></span> Non</span>
}