@model ContributionReportByDioceseViewModel

@{
    ViewData["Title"] = "Etat des cotisations par diocèse";
}

<style>
    .form-group, .form-group .dropdown-item, legend {
        font-size: 14px;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        color: #6c757d;
        text-transform: uppercase;
    }
</style>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto my-4">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title"><strong>@ViewData["Title"]</strong></h5>
                <hr />
                <form asp-action="ContributionReportByDiocese" method="post">
                    <fieldset class="form-group border pt-1 px-3 pb-3">
                        <legend class="w-auto px-2">Diocèse</legend>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group m-0">
                                    <select class="form-control-sm select-picker" asp-for="DioceseId"
                                            title="-- Veuillez sélectionner --" asp-items="ViewBag.Dioceses" required>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group border pt-1 px-3 pb-3">
                        <legend class="w-auto px-2">Période</legend>
                        <div class="form-group">
                            <label class="mb-0">De</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <select asp-for="StartMonth" class="form-control-sm select-picker" data-live-search="true"
                                            title="-- Veuillez sélectionner --" asp-items="ViewBag.Months"></select>
                                </div>
                                <div class="col-md-6">
                                    <input asp-for="StartYear" class="form-control-sm" value="@DateTime.Now.Year" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-0">A</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <select asp-for="EndMonth" class="form-control-sm select-picker" data-live-search="true"
                                            title="-- Veuillez sélectionner --" asp-items="ViewBag.Months"></select>
                                </div>
                                <div class="col-md-6">
                                    <input asp-for="EndYear" class="form-control-sm" value="@DateTime.Now.Year" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Accueil</a>
                    <button type="submit" class="btn btn-primary" formtarget="_blank">Suivant</button>
                </form>
            </div>
        </div>
    </div>
</div>

