@model IEnumerable<Diocese>

@{
    ViewData["Title"] = "Etat des diocèses";
}

<div class="row">
    <div class="col-md-12 my-4">
        <div class="card shadow w-50 mx-auto">
            <div class="card-body">
                <h5 class="card-title"><strong>@ViewData["Title"]</strong></h5>
                <hr />

                <table id="customDataTable" class="table table-sm table-bordered table-hover text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th class="text-right">Nombre de prêtres</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var diocese in Model)
                        {
                            <tr>
                                <td>@diocese.Name</td>
                                <td class="text-right">@diocese.Priests.Count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>