@model Contribution

@{
    ViewData["PageTitle"] = "Cotisations";
    ViewData["Title"] = ViewData["PageSubtitle"] = "Enregistrer une nouvelle cotisation";
}

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">

        <partial name="_StatusMessage" model='TempData["StatusMessage"]' />

        <div class="card shadow">
            <div class="card-body">
                <form asp-action="Add" method="post">
                    <div class="form-group">
                        <label asp-for="Priest" class="required"></label>
                        <select asp-for="PriestId" class="form-control select-picker" data-live-search="true"
                                title="-- Veuillez sélectionner --" asp-items="ViewBag.Priests" required></select>
                    </div>
                    <div class="form-group">
                        <label class="required">Mois</label>
                        <select asp-for="Month" class="form-control select-picker" data-live-search="true"
                                title="-- Veuillez sélectionner --" asp-items="ViewBag.Months" required></select>
                    </div>
                    <div class="form-group">
                        <label class="required">Année</label>
                        <input asp-for="Year" class="form-control" value="@DateTime.Now.Year" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="required"></label>
                        <div class="input-group mb-3">
                            <input asp-for="Amount" class="form-control" value="@ViewBag.ContributionCosts" readonly>
                            <div class="input-group-append">
                                <span class="input-group-text">XOF</span>
                            </div>
                        </div>
                    </div>
                    <a asp-action="Index" class="btn btn-secondary">
                        Retour
                    </a>
                    <button type="submit" class="btn btn-success">
                        Enregistrer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>