
@{
    ViewData["PageTitle"] = "Cotisations";
    ViewData["Title"] = ViewData["PageSubtitle"] = "Importer une liste de cotisations";
}

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">

        <partial name="_StatusMessage" model='TempData["StatusMessage"]' />

        <div class="card shadow">
            <div class="card-body">
                <form asp-action="ImportData" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="required">Nom du diocèse</label>
                        <select name="dioceseId" class="form-control select-picker" data-live-search="true"
                                title="-- Veuillez sélectionner --" asp-items="ViewBag.Dioceses" required></select>
                    </div>
                    <div class="form-group">
                        <label class="required">Liste de cotisations</label>
                        <input type="file" class="form-control-file" name="contributions" accept=".xlsx, .xls" />
                    </div>
                    <a asp-action="Index" class="btn btn-secondary">
                        Retour
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Importer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>