@model Diocese

<form asp-action="Create" method="post">
    <div class="form-group">
        <label class="required" asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required autofocus>
    </div>
    <div class="text-right mt-3">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Ajouter</button>
    </div>
</form>
