@model Priest

@{
    ViewData["Title"] = "Modifier les infos d'un prêtre";
}

<partial name="_StatusMessage" model='TempData["StatusMessage"]' />

<div class="row">
    <div class="col-md-4 my-4 mx-auto">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title"><strong>@ViewData["Title"]</strong></h5>
                <hr />
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="FullName" class="required"></label>
                        <input asp-for="FullName" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="required"></label>
                        <input type="date" asp-for="DateOfBirth" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrdinationDate" class="required"></label>
                        <input type="date" asp-for="OrdinationDate" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="Diocese" class="required"></label>
                        <select asp-for="DioceseId" class="form-control select-picker" data-live-search="true"
                                title="-- Veuillez sélectionner --" asp-items="ViewBag.Dioceses" required></select>
                    </div>
                    <div class="form-check" style="margin-bottom: 1.5em;">
                        <input class="form-check-input" asp-for="IsIncardinated">
                        <label class="form-check-label" asp-for="IsIncardinated"></label>
                    </div>
                    <a asp-action="Index" class="btn btn-secondary">Retour</a>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </form>
            </div>
        </div>
    </div>
</div>